
{# @var $this yii\web\View #}
{# @var $model app\modules\admin\models\Product #}
{{ use('yii/helpers/Html') }}

{{ set(this,'title', 'Create product') }}
{{ set(this, 'params', { 'breadcrumbs' : { '' : {'label': 'Products', 'url': 'index'} } }) }}
{{ set(this, 'params', { 'breadcrumbs' : { '' : this.title } }) }}

<div class="product-create">
    <h1>{{ html.encode(this.title) }}</h1>
    {% include '_form.twig' %}
</div>