{# @var $this yii\web\View #}
{# @var $model app\modules\admin\models\Brand #}
{{ use('yii/helpers/Html') }}

{{ set(this,'title', 'Create category') }}
{{ set(this, 'params', { 'breadcrumbs' : { '' : {'label': 'Categories', 'url': 'index'} } }) }}
{{ set(this, 'params', { 'breadcrumbs' : { '' : this.title } }) }}

<div class="brand-create">
    <h1>{{ html.encode(this.title) }}</h1>
    {% include '_form.twig' %}
</div>
